# VacationPy
----

#### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os
from citipy import citipy

# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [2]:
df = pd.read_csv("city_temperature_data.csv", index_col=0)

In [3]:
df.head()

,City,Lat,Lng,Max Temp,Humidity,Cloudliness,Wind Speed,Country,Date
0,Cumana,10.46,-64.18,84.04,69,92,6.44,VE,1595436790
1,Saint-Philippe,-21.36,55.77,68.00,64,90,8.05,RE,1595436791
2,Puerto Ayora,-0.74,-90.35,75.20,69,75,16.11,EC,1595436296
3,Kahului,20.89,-156.47,75.00,64,1,6.93,US,1595436696
4,Ushuaia,-54.80,-68.30,35.60,74,84,3.36,AR,1595436918

In [4]:
df.describe()

,Lat,Lng,Max Temp,Humidity,Cloudliness,Wind Speed,Date
count,500.000000,500.000000,500.000000,500.00000,500.000000,500.000000,5.000000e+02
mean,20.215000,18.772100,70.166760,68.33600,50.096000,7.674900,1.595437e+09
std,33.676461,90.008391,14.698984,21.80022,36.594934,5.219705,2.103632e+02
min,-54.800000,-179.170000,26.600000,1.00000,0.000000,0.470000,1.595436e+09
25%,-8.697500,-58.195000,59.000000,55.00000,12.750000,3.850000,1.595437e+09
50%,24.250000,24.175000,71.600000,73.00000,45.000000,6.565000,1.595437e+09
75%,47.885000,94.740000,81.000000,86.00000,85.250000,10.290000,1.595437e+09
max,78.220000,179.320000,115.740000,100.00000,100.000000,28.860000,1.595437e+09

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [5]:
location_tuples = list(zip(df["Lat"], df['Lng']))

In [6]:
humidity_list = list(df["Humidity"])
humidity_list[:5]

[69, 64, 69, 64, 74]

In [84]:
gmaps.configure(g_key)

In [85]:
m = gmaps.Map()
heatmap_layer = gmaps.WeightedHeatmap(locations=location_tuples, weights=humidity_list) 
m.add_layer(heatmap_layer)
m

Map(configuration={'api_key': 'AIzaSyCwTmwu8C7kX_TOYoctkm86Ko9U6ix8bXo'}, data_bounds=[(-47.07053490312755, -1…

In [86]:
heatmap_layer.max_intensity = 100
heatmap_layer.point_radius = 10

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [75]:
# Max_Temp < 80 but > 55
# Wind Speed < 15 mph
# Cloudiness = 0.00%
ideal_weather_cities = df[(df["Max Temp"] < 80) & (df["Max Temp"] > 55) & (df["Wind Speed"] < 15) & (df["Cloudliness"] == 0)]
ideal_weather_cities.head(10)

,City,Lat,Lng,Max Temp,Humidity,Cloudliness,Wind Speed,Country,Date
15,Port Alfred,-33.59,26.89,62.67,84,0,4.36,ZA,1595437121
21,Plettenberg Bay,-34.05,23.37,59.61,78,0,3.44,ZA,1595437122
24,Orcopampa,-15.27,-72.34,57.70,29,0,4.18,PE,1595437122
27,Camacupa,-12.02,17.48,66.88,27,0,4.21,AO,1595437122
34,East London,-33.02,27.91,65.91,80,0,4.56,ZA,1595436890
49,Bredasdorp,-34.53,20.04,57.20,93,0,4.70,ZA,1595437124
71,Saldanha,-33.01,17.94,60.80,72,0,4.70,ZA,1595436562
77,Muros,42.78,-9.06,77.00,62,0,10.00,ES,1595437127
95,Liepāja,56.54,21.04,59.00,82,0,8.05,LV,1595437131
115,Lyuban',52.80,28.00,60.64,75,0,10.78,BY,1595437133

In [12]:
ideal_weather_cities.shape

(35, 9)

In [13]:
ideal_weather_cities.dropna(inplace=True)

C:\Users\Kyle\anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [14]:
ideal_weather_cities.shape

(31, 9)

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [63]:
req_url = r"https://maps.googleapis.com/maps/api/place/nearbysearch/json?"

In [64]:
params = {
    "location": str(-33.59) + ',' +  str(26.89),
    "radius": 5000,
    "keyword": 'hotel',
    "key": g_key
}

In [65]:
params["location"]

'-33.59,26.89'

In [66]:
response = requests.get(req_url, params=params)

In [67]:
response.status_code

200

In [70]:
response.json()["results"][0]

{'business_status': 'OPERATIONAL',
 'geometry': {'location': {'lat': -33.5943286, 'lng': 26.8932478},
  'viewport': {'northeast': {'lat': -33.59340502010727,
    'lng': 26.89469017989272},
   'southwest': {'lat': -33.59610467989271, 'lng': 26.89199052010728}}},
 'icon': 'https://maps.gstatic.com/mapfiles/place_api/icons/lodging-71.png',
 'id': 'b4d7919de918680c43d9bbadc32a4394c404252e',
 'name': 'The Halyards Hotel',
 'photos': [{'height': 2340,
   'html_attributions': ['<a href="https://maps.google.com/maps/contrib/103567797170360829180">Nelisa Kanjana</a>'],
   'photo_reference': 'CmRaAAAASOfQyRd3TZ8V4PmjUTxqiMQdE4r6biBICwcDorke5cLf3ksCtTDsoFzAFMrHEE7kg42My0KOuJcx6UFOLQPBOiPmFUZRZ-Lqwl_O2_6b2SS6cOx4VCWhOxmbcQrl3ecNEhAarlK4HiRc5fi-wrMjT2qYGhTK7sbp7kPY3hZlKhtmQKC4R8IsRg',
   'width': 4160}],
 'place_id': 'ChIJc2bXbQzMZR4RJi3g5dcLnnE',
 'plus_code': {'compound_code': 'CV4V+77 Port Alfred, South Africa',
  'global_code': '4GR8CV4V+77'},
 'rating': 3.8,
 'reference': 'ChIJc2bXbQzMZR4RJi3g5dcLnnE',
 'scope': 'GOOGLE',
 'types': ['lodging', 'point_of_interest', 'establishment'],
 'user_ratings_total': 495,
 'vicinity': '1 Albany Road, Port Alfred'}

In [72]:
hotel_dict = {"Hotel_Name": [], "Lat": [], "Lng": [], "City": [], "Country": []}
for x in ideal_weather_cities.iterrows():
    lat_long = str(x[1]["Lat"]) + ',' + str(x[1]["Lng"])
    params["location"] = lat_long
    response=requests.get(req_url, params=params).json()
    try:
        h_name = response["results"][0]["name"]
        h_lat = response["results"][0]["geometry"]["location"]["lat"]
        h_lng = response["results"][0]["geometry"]["location"]["lng"]
        city = citipy.nearest_city(h_lat, h_lng).city_name.title()
        country = citipy.nearest_city(h_lat, h_lng).country_code.upper()
        hotel_dict["Hotel_Name"].append(h_name)
        hotel_dict["Lat"].append(h_lat)
        hotel_dict["Lng"].append(h_lng)
        hotel_dict['City'].append(city)
        hotel_dict["Country"].append(country)
    except:
        hotel_dict["Hotel_Name"].append('null')
        hotel_dict["Lat"].append('null')
        hotel_dict["Lng"].append('null')
        hotel_dict['City'].append('null')
        hotel_dict["Country"].append('null')
    
hotel_df = pd.DataFrame.from_dict(hotel_dict)
hotel_df

,Hotel_Name,Lat,Lng,City,Country
0,The Halyards Hotel,-33.5943,26.8932,Port Alfred,ZA
1,Sky Villa Boutique Hotel,-34.0404,23.3668,Plettenberg Bay,ZA
2,Hotel San Pedro,-15.27,-72.3424,Orcopampa,PE
3,null,null,null,null,null
4,Premier Hotels & Resorts,-33.0187,27.9187,East London,ZA
5,De Hoop Collection,-34.5333,20.0417,Bredasdorp,ZA
6,Blue Bay Lodge,-32.9954,17.9731,Saldanha,ZA
7,Hostal SOLYMAR,42.76,-9.07192,Muros,ES
8,Promenade Hotel,56.5124,21.0111,Liepaja,LV
9,Ruyes Rup Beltelekom,52.7919,28.0004,Lyuban,BY
10,Orlanova Hotel,-22.9614,-42.0215,Arraial Do Cabo,BR
11,The Bay Hotel,-33.9525,18.3782,Cape Town,ZA
12,iu Hotel Namibe,-15.1909,12.1513,Namibe,AO
13,null,null,null,null,null
14,Coral Coast Tourist Park,-24.8795,113.662,Carnarvon,AU
15,Kingdom Hall of Jehovah’s Witnesses,50.2948,27.6751,Polyanka,UA
16,null,null,null,null,null
17,null,null,null,null,null
18,null,null,null,null,null
19,null,null,null,null,null
20,Palanca Hotel,-9.54571,16.3617,Malanje,AO
21,null,null,null,null,null
22,null,null,null,null,null
23,null,null,null,null,null
24,null,null,null,null,null
25,null,null,null,null,null
26,null,null,null,null,null
27,null,null,null,null,null
28,null,null,null,null,null
29,null,null,null,null,null
30,null,null,null,null,null

In [79]:
hotel_df = hotel_df.drop_duplicates()
hotel_df = hotel_df.drop(3)
hotel_df

,Hotel_Name,Lat,Lng,City,Country
0,The Halyards Hotel,-33.5943,26.8932,Port Alfred,ZA
1,Sky Villa Boutique Hotel,-34.0404,23.3668,Plettenberg Bay,ZA
2,Hotel San Pedro,-15.27,-72.3424,Orcopampa,PE
4,Premier Hotels & Resorts,-33.0187,27.9187,East London,ZA
5,De Hoop Collection,-34.5333,20.0417,Bredasdorp,ZA
6,Blue Bay Lodge,-32.9954,17.9731,Saldanha,ZA
7,Hostal SOLYMAR,42.76,-9.07192,Muros,ES
8,Promenade Hotel,56.5124,21.0111,Liepaja,LV
9,Ruyes Rup Beltelekom,52.7919,28.0004,Lyuban,BY
10,Orlanova Hotel,-22.9614,-42.0215,Arraial Do Cabo,BR
11,The Bay Hotel,-33.9525,18.3782,Cape Town,ZA
12,iu Hotel Namibe,-15.1909,12.1513,Namibe,AO
14,Coral Coast Tourist Park,-24.8795,113.662,Carnarvon,AU
15,Kingdom Hall of Jehovah’s Witnesses,50.2948,27.6751,Polyanka,UA
20,Palanca Hotel,-9.54571,16.3617,Malanje,AO

In [81]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel_Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [92]:
# Add marker layer ontop of heat map
symbol_layer = gmaps.symbol_layer(locations, info_box_content=hotel_info, fill_color="black", stroke_color="green")
# Display figure
m.add_layer(symbol_layer)
m

Map(configuration={'api_key': 'AIzaSyCwTmwu8C7kX_TOYoctkm86Ko9U6ix8bXo'}, data_bounds=[(-75.774111601328, -179…